body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    min-height: 100%;
}

.bigbox {
    background-color: white;
   display: flex;
   flex-direction: column; 
   max-width: 75%;
   min-height: 100%;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;

}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    width: 33%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
    padding: 10px;
    color: white;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.headerlinks {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.container1 {
    background-color:#1F2937;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

}

.c1 {
    margin: 50px;
    display: flex;
}

.c1box1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.c1box1A {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 50%;
}

.c1box1B {
    color: #E5E7EB;
    width: 50%;
}

.c1box2 {
 display: flex;
}

button {
    color: white;
    background-color: #3882f6;
}


.container2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c2box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c2box1A {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.c2box1Aimage1 {
    text-align: center;
}

.c2box1Aimage2 {
    text-align: center;
}

.c2box1Aimage3 {
    text-align: center;
}

.c2box1Aimage4 {
    text-align: center;
}

.text {

}



.container3{
    background-color: #E5E7EB;
    display: flex;
    flex-grow: 1;
}

.c3box1 {

}

.c3box1A {
    font-size: 36px;
    font-style: italic;
}

.c3box1B {

}




.container4{
    display: flex;
    flex-grow: 1;
}

.c4box1 {
    color: white;
    background-color:#3882f6;
}

.c4box1A {

}

.c4box1Atext1 {

}

.c4box1Atext2 {

}

.c4box1B {

}

.signup2 {
    border-color: white;
}

.footer {

}